.projects__container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.projects__name {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-font-color);
}

.projects__img {
  width: 100%;
  height: 100%;
}

.projects__item {
  border: 1px solid #eeeeee;
  margin-top: 30px;
}

.projects__type {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);

  margin-top: 5px;
}

.projects__img-thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;

  transform: translateY(100%);

  transition: transform 250ms var(--timing-function);
}

.projects__link {
  transition: box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .projects__overlay {
      transform: translateY(0);
    }
  }
}

.projects__overlay-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter__button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--heading-font-color);
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }

  .projects__item {
    max-width: 354px;
  }

  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    max-width: 370px;
  }

  .filter {
    margin-bottom: 20px;
  }
}
