.qualities__icon {
  width: 70px;
  height: 70px;
}

.qualities__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.qualities__item {
  max-width: 450px;
}

.qualities__name {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-font-color);
  text-align: center;

  margin-bottom: 10px;
  margin-top: 30px;
}

.qualities__description {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

@media screen and (max-width: 1199px) {
  .qualities__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .qualities__item {
    max-width: 354px;
  }

  .qualities__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__item {
    max-width: 270px;
  }

  .qualities__name {
    text-align: left;
  }
}
