:root {
  --primary-font-color: #757575;
  --heading-font-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font: Roboto;
  --logo-font: Raleway;
}
